# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.*
!.env.example

.vercel

# Android APKs & AABs
public/mister11.apk
public/mister11.aab
public/*.apk
public/*.aab
public_hosting/*.apk
public_hosting/*.aab
public_hosting/**/*.apk
public_hosting/**/*.aab
android/app/build/

# Firebase
.firebase/

# APKs / AABs generados
Mister11.apk
*.apk
*.aab

mister11_registro_digital/
*.zip
